<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Are we WebExtensions yet?</title>
		<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="index.css">
	</head>
	<body>
		<div class="container">
			<div class="hero">
				<h1>Are we WebExtensions yet? <span class="label label-success">Yes.</span></h1>
				<p class="muted">
					Mozilla documentation on <a href="https://developer.mozilla.org/en-US/Add-ons/WebExtensions">WebExtensions</a>.
				</p>
			</div>
		</div>
		<hr>
		<div class="container">
			{% macro level_listing(name, addons, anchor) -%}
			<h3><a class="anchor" id="{{ anchor }}">&sect;</a> {{ name }}</h2>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Trackers</th>
						<th>Blocking bugs</th>
						<th>WebExtension</th>
				 </tr>
				</thead>
				<tbody>
					{% for addon in addons %}
						<tr>
							<td><a class="anchor" href="#{{ addon.number }}">#</a> {% if addon.url %}<a id="{{ addon.number }}" href="{{ addon.url }}">{{ addon.name }}</a>{% else %}{{ addon.name }}{% endif %}<div class="addon-guid">{{ addon.guid }} {% if addon.users %}&bull; {{ addon.users }} users{% endif %}</div></td>
							<td>
								{% for tracker in addon.trackers_open %}<a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{ tracker }}" class="label label-warning">{{ tracker }}</a>{% endfor %}
								{% for tracker in addon.trackers if tracker not in addon.trackers_open %}<a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{ tracker }}" class="label label-success">{{ tracker }}</a>{% endfor %}
							</td>
							<td>
								{% if addon.trackers %}
									<details>
										<summary><span class="label label-danger">{{ addon.trackers_bugs_open|length }}</span></summary>
										{% for bug in addon.trackers_bugs_open %}<a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{ bug }}" class="label label-warning">{{ bug }}</a><br>{% endfor %}
									</details>
								{% endif %}
							</td>
							<td>{% if addon.status and addon.status != 'error' %}<span class="label label-success">WebExtension</span>{% else %}{% endif %}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			{% endmacro %}

			{{ level_listing('Most Widely Adopted', addons['level-1'], 'addons-most') }}
			{{ level_listing('Popular', addons['level-2'], 'addons-popular') }}
			{{ level_listing('Other', addons['level-3'], 'addons-others') }}

	  </div>
		<div class="container">
			<div class="note"><a href="https://github.com/andymckay/arewewebextensionsyet.com">Source on github</a>.</div>
		</div>
	</body>
</html>
